/*misc*/
/*
orbitron
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

montserrat
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.montserrat-Techno {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.orbitron-Techno {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}
/*misc*/

body {
    background-color: rgb(29, 29, 25);
}






/*Navigation Section*/
.Navigation-container {
  background-color: rgba(73, 42, 80, 0.866);
  width: 100%; 
  padding: 5px auto;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.Navigation nav, ul {

    display: flex;
    position: relative;
    right: 1rem;

    align-items: center;
    justify-content: center;
    list-style: none;

    height: 0;
}

.Navigation nav, li {
    margin: 0;
}

.Navigation nav, a {
    font-family:"Orbitron", serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    padding: 0.5rem;
    font-size: 1.1rem;

    text-decoration: none;
    color: black;
}
.Navigation a:hover {
    color: blueviolet;
}











/*Heading Section*/
#header {
    font-family: "Montserrat", serif;
    margin-top: 2rem;
    border: 2px solid black;

    width: 100%;
    
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    height:80vh;
    background-image: url(/Images/earth-2254769_1920.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}
#header::before{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.774);
    z-index: 1;
}
.header-container {
    
    color: rgb(177, 3, 151);

    position: relative;
    z-index: 2;
}
@keyframes Color {

    50% {
        color: #830dd8;
    }

    75% {
        color: #bd33e4;
    }

   
}
.Chng-color {
    font-size: 3.5rem;
    font-family: "Orbitron", serif;
    text-align: center;

    animation: Color 2s ease-in 1s infinite;
}

@keyframes Appear {
    0% { 
        opacity: 0;
        transform: scale(1) rotate(360deg);
    }

    50% { 
        opacity: 0.5;
    }

    100% { opacity: 1;}
}
.Appear {
    font-size: 1.6rem;
    text-align: center;
    animation-name: Appear;

    animation-iteration-count: 1;
    animation-duration: 2s;
}

.header-button, button {
    justify-content: center;

    font-family: "Orbitron", serif;
    font-size: 1.5rem;
    
    z-index: 2;

    
    
    background-color: transparent;
    padding: 1rem;
    border: 1px solid #f5f5f5;
    border-style: hidden;
    color: #830dd8;
    cursor: pointer;
    transition: 2s;
}

 button:hover {
    padding: 1.7rem;
    border-style: groove;
    transition: 1s;
}











/*The About Section*/
#About-Container {
    margin-top: 2rem;
}
.About-Section {
    font-family:"Montserrat", serif ;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.About-Section h1 {
    font-size: 2.2rem;
    text-align: center;
    color: #7a0b89;
}

#About-h {
    display: flex;
    flex-direction: row;
    
}
#P1 {
    font-family:"Montserrat", serif ;
    font-size: 1rem;

    display: flex;
    flex-direction: column;

    color: #bd33e4;
}
#About-h img {
    height: fit-content;
    width: 25rem;

    position: relative;
    
}
/*About Table*/
.About-Section p {
    font-size: 1rem;
}

#Table-con table,tr,th,td {
    text-align: center;
    border: 2px solid rgb(164, 8, 8);
    border-collapse: collapse;
    
    background-color: #bd60e5;

    width: 100%;
    height: fit-content;
    
}










/*The Projects section*/
.project-container {
    margin-top: 2rem ;
    display: flex;
}

.project-section {
    font-size: 1.3rem;
    font-family:"Montserrat", serif ;
    color: #7a0b89;
    
}
.project-section h1, h2 {
    text-align: center;
    
}
.Google-maps {
    color: #bd60e5;
}
.Google-maps iframe {
    width: 100%;
    
}















/*The Contact Section*/
.contact-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;

    
    
    width: 100%;
    height: fit-content;

    background-image: url(/Images/earth-2254769_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.contact-form {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 66rem;
    border-radius: 30px;

    justify-content: space-around;
    flex-wrap: wrap;

    padding: 1.5rem;
    margin: 3rem;

    font-size: 1rem;
    font-family:"Montserrat", serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: #c93edfda;
}

.contact-form form {
    display: inline-flex;
    flex-direction: column;

    align-items: center;
    padding: 2rem;
}
.contact-form label {
    font-size: 0.9rem;
    width: 50%;
    border-radius: 5px;
    background-color: #f5f5f57e;
    text-align: center;
}

.formRow form{
    display: flex;
    flex-direction: column;
}
.formRow {
    display: flex;
    flex-direction: row;
}
.contact-information {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #8605885c;
    padding: 1rem;
    border: none;
    border-radius: 1rem;

    text-align: center;
}

#Text-Box {
    font-family:"Montserrat", serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    padding: 2.5rem;
}

#submit {
    padding: 1rem;
    margin: 0.5rem;

    background-color: transparent;
    color: #e5d560;

    font-family:"Orbitron", serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

#submit:hover {
    text-decoration: wavy; 
    background-color: #890b3d;

    cursor: pointer;
    transition: 2s;
}









/*The Footer Section*/

/*FootNav*/
.footer-Nav-container {
    background-color: rgb(73, 42, 80);
    padding: 5px;
    width: 100%;
    height: fit-content;

    position: relative;
    right: 0.3rem;
    bottom: 0;
    text-align: center;
    
    z-index: 2;
    font-size: 0.9rem;
    font-family: "Orbitron", serif;
}

.footer-Nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    right: 2.5rem;

    width: 100%;

    list-style: none;
    height: 0;
}

.footer-Nav li {
    margin: 0;
}

.footer-Nav a {
    font-family:"Orbitron", serif ;
    font-size: 1.1rem;

    color: #000;
    padding: 5px;    
    text-decoration: none;
}

.footer-Nav a:hover {
    color: blueviolet;
}

.footer-content p {
    font-size: 0.8rem;
    text-align: center;
    position: fixed;

    bottom: 0;
}

.Footer-social {
    background-color: #7a0b89;
    
}










@media (max-width: 600px) { 
    #P1 {
        font-size: 0.9rem;
        text-align: center;
    }
    #About-h {
        display: flex;
        flex-direction: column-reverse;
    }
    #About-h img {
        align-self: center;
    }
    .About-Section {
        font-size: 0.8rem;
    }
    
}
@media (max-width: 420px) {
    #P1 {
        font-size: 0.8rem;
    }
    #About-h {
        display: flex;
        flex-direction: column-reverse;
    }
    #About-h img {
        align-self: center;
    }
    .About-Section {
        font-size: 0.8rem;
    }
}
